
<div class="panel panel-default">  

  <div class="panel-body">
    <form accept-charset="UTF-8" role="register" >
        <fieldset>

          <div class="form-group">
            <input class="form-control" placeholder="Nombre" name="name" type="text">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Apellido" name="lastName" type="password" value="">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Correo" name="email" type="text">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Usuario" name="user" type="text">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Contraseña" name="password" type="password" value="">
          </div>

          <div>
              <button class="btn btn-success">Crear cuenta</button>
          </div>

      </fieldset>
    </form>
  </div>

</div>