
          <div class="panel panel-default">  



            <div class="panel-body">
              <form accept-charset="UTF-8" role="login" >
                  <fieldset>
                    <div class="form-group">
                      <input class="form-control" placeholder="Correo" name="email" type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control" placeholder="Contraseña" name="password" type="password" value="">
                  </div>
                  <div class="checkbox">
                      <label>
                        <input name="remember" type="checkbox" value="Remember Me"> Recuerdame
                      </label>
                    </div>
                  <input class="btn btn-lg btn-success btn-block" type="submit" value="Inicia Sesion">

                  <div class="or-box row-block">
                      <div class="row">
                          <div class="col-md-6 col-md-offset-3">
                              <a href="#/register" class="btn btn-sm btn-primary btn-block">Crear Cuenta</a>
                          </div>

                      </div>
                  </div>

                </fieldset>
              </form>
            </div>

          </div>